@use '@/styles/variables.scss' as *;

.container {
  @include flex-center;
  flex-direction: column;
  padding: $spacing-xl 0;
}

.icon {
  font-size: 80rpx;
  margin-bottom: $spacing-md;
}

.title {
  font-size: $font-size-md;
  color: $color-text-tertiary;
  margin-bottom: $spacing-xs;
}

.description {
  font-size: $font-size-sm;
  color: $color-text-disabled;
}
